version: 2

defaults: &defaults
  
  macos:
    xcode: "9.0"
    
  shell: /bin/bash --login -eo pipefail



aliases:
  
  - &update-bundler
    name: Update Bunder
    command: gem install bundler
  
  - &restore-gem-cache
    keys:
      - v1-gem-cache-{{ checksum "Gemfile.lock" }}
      - v1-gem-cache

  - &bundle-install
    name: Bundle install
    command: bundle install --path vendor/bundle
    
  - &save-gem-cache
    key: v1-gem-cache-{{ checksum "Gemfile.lock" }}
    paths:
      - vendor/bundle
    
  - &start-simulator
    name: Start simulator
    command: xcrun instruments -w "$SIMULATOR" || true

  - &fetch-cocoapods-specs
    name: Fetch CocoaPods Specs
    command: curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf

  - &restore-pods-cache
    keys:
      - v1-pods-cache-{{ checksum "Example/Podfile.lock" }}
      - v1-pods-cache

  - &install-cocoapods
    name: Install CocoaPods
    command: bundle exec pod install --project-directory=Example

  - &save-pods-cache
    key: v1-pods-cache-{{ checksum "Example/Podfile.lock" }}
    paths:
      - Example/Pods
  
  - &run-tests
    name: Build and run tests
    command: bundle exec rake test_destination[$DESTINATION]

  - &update-codecov
    name: Update Codecov
    command: bash <(curl -s https://codecov.io/bash)

  - &filter-version-tags-only
    filters:
      tags:
        only: /^[0-9]+\.[0-9]+\.[0-9]+$/
      branches:
        ignore: /.*/


jobs:

  build-and-test-ios11-iphonex:
    <<: *defaults

    environment:
      DESTINATION: platform=iOS Simulator,OS=11.0,name=iPhone X
      SIMULATOR: iPhone X (11.0) [

    steps:
      - checkout
      - run: *update-bundler
      - restore_cache: *restore-gem-cache
      - run: *bundle-install
      - save_cache: *save-gem-cache
      - run: *start-simulator
      - run: *fetch-cocoapods-specs
      - restore_cache: *restore-pods-cache
      - run: *install-cocoapods
      - save_cache: *save-pods-cache
      - run: *run-tests
      - run: *update-codecov


  build-and-test-ios10-iphone7plus:
    <<: *defaults

    environment:
      DESTINATION: platform=iOS Simulator,OS=10.3.1,name=iPhone 7 Plus
      SIMULATOR: iPhone 7 Plus (10.3.1) [

    steps:
      - checkout
      - run: *update-bundler
      - restore_cache: *restore-gem-cache
      - run: *bundle-install
      - save_cache: *save-gem-cache
      - run: *start-simulator
      - run: *fetch-cocoapods-specs
      - restore_cache: *restore-pods-cache
      - run: *install-cocoapods
      - save_cache: *save-pods-cache
      - run: *run-tests
      - run: *update-codecov


  lint-podspec:
    <<: *defaults

    steps:
      - checkout
      - run: *update-bundler
      - restore_cache: *restore-gem-cache
      - run: *bundle-install
      - save_cache: *save-gem-cache

      - run:
          name: Lint Podspec
          command: bundle exec rake lint_podspec


  build-documentation:
    <<: *defaults

    steps:
      - checkout
      - run: *update-bundler
      - restore_cache: *restore-gem-cache
      - run: *bundle-install
      - save_cache: *save-gem-cache
      - run: *fetch-cocoapods-specs
      - restore_cache: *restore-pods-cache
      - run: *install-cocoapods
      - save_cache: *save-pods-cache

      - run:
          name: Build Documentation
          command: bundle exec rake build_documentation


  swiftlint:

    docker:
      - image: dantoml/swiftlint:latest

    steps:
      - checkout

      - run:
          name: Swiftlint
          command: swiftlint lint --reporter junit | tee result.xml

      - store_artifacts:
          path: result.xml

      - store_test_results:
          path: result.xml


  push-podspec:
    <<: *defaults

    steps:
      - checkout
      - run: *update-bundler
      - restore_cache: *restore-gem-cache
      - run: *bundle-install
      - save_cache: *save-gem-cache
      - run: *fetch-cocoapods-specs
      - restore_cache: *restore-pods-cache
      - run: *install-cocoapods
      - save_cache: *save-pods-cache

      - run:
          name: Push Podspec to trunk
          command: bundle exec rake push_podspec


workflows:
  version: 2

  run-tests:
    jobs:
      - lint-podspec
      - swiftlint
      - build-and-test-ios11-iphonex
      - build-and-test-ios10-iphone7plus
      - build-documentation
      - push-podspec: *filter-version-tags-only
