version: 2.1

executors:

  simulator:
    parameters:
      xcode:
        type: string
        default: '15.0.0'
      os:
        type: string
        default: '13.5.1'
      device:
        type: string
        default: iPhone 15 Pro Max
    macos:
      xcode: << parameters.xcode >>
    shell: /bin/bash --login -eo pipefail
    environment:
      SIMULATOR_OS: << parameters.os >>
      DESTINATION: platform=iOS Simulator,OS=<< parameters.os >>,name=<< parameters.device >>
      SIMULATOR: << parameters.device >> (<< parameters.os >>) [

  default: simulator


commands:

# Helper

  run-rake-task:
    description: Run rake task
    parameters:
      task: 
        type: string
    steps:
      - run:
          name: Run rake task << parameters.task >>
          command: bundle exec rake << parameters.task >>

  store-reports:
    description: Store reports
    parameters:
      path: 
        type: string
    steps:
      - store_artifacts:
          path: << parameters.path >>
      - store_test_results:
          path: << parameters.path >>


# System steps

  change-ruby:
    description: Select the correct version of ruby
    steps:
      - run:
          name: Set Ruby Version
          command: echo 'chruby ruby-2.6' >> ~/.bash_profile

  update-bundler:
    description: Update bundler to newest version
    steps:
      - run:
          name: Update bundler
          command: gem install bundler

  restore-gem-cache:
    description: Restore gems from cache
    steps:
      - restore_cache:
          keys:
            - v1-gem-cache-{{ checksum "Gemfile.lock" }}
            - v1-gem-cache

  bundle-install:
    description: Install gems
    steps:
      - run:
          name: Configure bundler
          command: bundle config set path 'vendor/bundle'
      - run:
          name: Bundle install
          command: bundle install

  save-gem-cache:
    description: Save gems to cache
    steps:
      - save_cache:
          key: v1-gem-cache-{{ checksum "Gemfile.lock" }}
          paths:
          - vendor/bundle

  install-simulator:
    description: Install simulator runtime
    steps:
      - run:
          name: List simulators
          command: bundle exec xcversion simulators
      - run:
          name: Install simulator
          command: bundle exec xcversion simulators --install="iOS $SIMULATOR_OS Simulator" --no-progress || true

  start-simulator:
    description: Start simulator
    steps:
      - run:
          name: Start simulator
          command: xcrun instruments -w "$SIMULATOR" || true

  fetch-cocoapods-specs:
    description: Fetch CocoaPods repository from S3
    steps:
      - run:
          name: Fetch CocoaPods Specs
          command: curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf

  restore-pods-cache:
    description: Restore pods directory from cache
    steps:
      - restore_cache:
          keys:
            - v1-pods-cache-{{ checksum "Example/Podfile.lock" }}
            - v1-pods-cache

  install-cocoapods:
    description: Install cocoapods of example project
    steps:
      - run:
          name: Install CocoaPods
          command: bundle exec pod install --project-directory=Example

  save-pods-cache:
    description: Save pods directory to cache
    steps:
      - save_cache:
          key: v1-pods-cache-{{ checksum "Example/Podfile.lock" }}
          paths:
            - Example/Pods

  store-test-reports:
    description: Store test reports
    steps:
      - store-reports:
          path: build/reports/junit.xml

  store-lint-reports:
    description: Store lint reports
    steps:
      - store-reports:
          path: junit.xml

  setup-gems:
    description: Update bundler and install gems
    steps:
      - change-ruby
      - update-bundler
      - restore-gem-cache
      - bundle-install
      - save-gem-cache

  setup-cocoapods:
    description: Fetch specs and install cocoapods
    steps:
      - fetch-cocoapods-specs
      - restore-pods-cache
      - install-cocoapods
      - save-pods-cache


# Rake tasks

  run-tests:
    description: Run tests on sepcific device
    steps:
      - run-rake-task:
          task: test_destination

  update-codecov:
    description: Upload coverage information to Codecov
    steps:
      - run:
          name: Update Codecov
          command: bash <(curl -s https://codecov.io/bash)

  lint-podspec:
    description: Lint Podspec
    steps:
      - run-rake-task:
          task: lint_podspec

  generate-documentation:
    description: Build Documentation
    steps:
      - run-rake-task:
          task: generate_documentation

  generate-changelog:
    description: Generate Changelog
    steps:
      - run-rake-task:
          task: generate_changelog

  release-next-version:
    description: Create release pull request
    parameters:
      type: 
        type: string
    steps:
      - run-rake-task:
          task: release_next_version[<< parameters.type >>]

  release-next-major-version:
    description: Create major release pull request
    steps:
      - release-next-version:
          type: major

  release-next-minor-version:
    description: Create minor release pull request
    steps:
      - release-next-version:
          type: minor

  release-next-patch-version:
    description: Create patch release pull request
    steps:
      - release-next-version:
          type: patch

  create-github-release:
    description: Create version tag on github
    steps:
      - run-rake-task:
          task: create_github_release

  close-github-milestone:
    description: Close milestone on github
    steps:
      - run-rake-task:
          task: close_github_milestone

  push-podspec:
    description: Push Podspec to trunk
    steps:
      - run-rake-task:
          task:  push_podspec


# Tests

  swiftlint:
    description: Run Swiftlint
    steps:
      - run:
          name: Swiftlint
          command: swiftlint lint --reporter junit | tee junit.xml



aliases:

  - &filter-version-tags-only
    filters:
      tags:
        only: /^[0-9]+\.[0-9]+\.[0-9]+$/
      branches:
        ignore: /.*/

  - &filter-major-release-tags-only
    filters:
      tags:
        only: major-release
      branches:
        ignore: /.*/

  - &filter-minor-release-tags-only
    filters:
      tags:
        only: minor-release
      branches:
        ignore: /.*/

  - &filter-patch-release-tags-only
    filters:
      tags:
        only: patch-release
      branches:
        ignore: /.*/


jobs:

  build-and-test-ios17-iphone15promax:
    executor:
      name: simulator
      xcode: '15.0.0'
      os: '17.0'
      device: iPhone 15 Pro Max
    steps:
      - checkout
      - setup-gems
      - install-simulator
      - start-simulator
      - setup-cocoapods
      - run-tests
      - store-test-reports

  build-and-test-ios13-iphone11promax:
    executor:
      name: simulator
      xcode: '11.3.1'
      os: '13.3'
      device: iPhone 11 Pro Max
    steps:
      - checkout
      - setup-gems
      - install-simulator
      - start-simulator
      - setup-cocoapods
      - run-tests
      - store-test-reports

  build-and-test-ios12-iphonexsmax:
    executor:
      name: simulator
      xcode: '10.3.0'
      os: '12.4'
      device: iPhone Xs Max
    steps:
      - checkout
      - setup-gems
      - install-simulator
      - start-simulator
      - setup-cocoapods
      - run-tests
      - update-codecov
      - store-test-reports

  build-and-test-ios11-iphonex:
    executor:
      name: simulator
      os: '11.4'
      device: iPhone X
    steps:
      - checkout
      - setup-gems
      - install-simulator
      - start-simulator
      - setup-cocoapods
      - run-tests
      - store-test-reports

  build-and-test-ios10-iphone7:
    executor:
      name: simulator
      os: '10.3.1'
      device: iPhone 7
    steps:
      - checkout
      - setup-gems
      - install-simulator
      - start-simulator
      - setup-cocoapods
      - run-tests
      - store-test-reports

  lint-podspec:
    executor: default
    steps:
      - checkout
      - setup-gems
      - lint-podspec

  build-documentation:
    executor: default
    steps:
      - checkout
      - setup-gems
      - setup-cocoapods
      - generate-documentation

  generate-changelog:
    executor: default
    steps:
      - checkout
      - setup-gems
      - generate-changelog

  swiftlint:
    docker:
      - image: dantoml/swiftlint:latest
    steps:
      - checkout
      - swiftlint
      - store-lint-reports

  create-major-release-pull-request:
    executor: default
    steps:
      - checkout
      - setup-gems
      - setup-cocoapods
      - release-next-major-version

  create-minor-release-pull-request:
    executor: default
    steps:
      - checkout
      - setup-gems
      - setup-cocoapods
      - release-next-minor-version

  create-patch-release-pull-request:
    executor: default
    steps:
      - checkout
      - setup-gems
      - setup-cocoapods
      - release-next-patch-version

  create-version-tag:
    executor: default
    steps:
      - checkout
      - setup-gems
      - create-github-release

  close-milestone:
    executor: default
    steps:
      - checkout
      - setup-gems
      - close-github-milestone

  push-podspec:
    executor: default
    steps:
      - checkout
      - setup-gems
      - setup-cocoapods
      - push-podspec


workflows:
  version: 2.1

  run-tests:
    jobs:
      - lint-podspec
      - swiftlint
      - build-and-test-ios17-iphone15promax
#      - build-and-test-ios13-iphone11promax
#      - build-and-test-ios12-iphonexsmax
#      - build-and-test-ios11-iphonex
#      - build-and-test-ios10-iphone7
      - build-documentation
      - generate-changelog
      - create-version-tag:
          requires:
            - lint-podspec
            - swiftlint
            - build-and-test-ios17-iphone15promax
#            - build-and-test-ios13-iphone11promax
#            - build-and-test-ios12-iphonexsmax
#            - build-and-test-ios11-iphonex
#            - build-and-test-ios10-iphone7
            - build-documentation
            - generate-changelog
          filters:
            branches:
              only: master

  deploy:
    jobs:
      - close-milestone: *filter-version-tags-only
      - push-podspec: *filter-version-tags-only
      - create-major-release-pull-request: *filter-major-release-tags-only
      - create-minor-release-pull-request: *filter-minor-release-tags-only
      - create-patch-release-pull-request: *filter-patch-release-tags-only
